/* passar o CSS todo para BEM */

.techniques {
  margin-top: 100px;
  align-items: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:auto;
  text-align: center;
}

.cards__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin-right: 100px;
  align-items: center;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;

}


