.header__link {
  color: #2F80ED;
  text-decoration: none;
  transition: opacity 1s ease; /* boas praticas aplicar o transiction ao elemento*/
  display: block;
}

.header__link:hover {
  opacity: 0.5; /*sobre o hover so deixo para o que eu quero q mude */

}
